name: Build and Test
on:
  push:
    branches-ignore:
      - 'master'
jobs:
  cache:
    name: Cache Toolchain dependencies
    runs-on: ubuntu-latest
    env:
      PREFIX: "/usr"
      GNU_MIRROR: "https://mirror.checkdomain.de/gnu"
      NEWLIB_MIRROR: "https://ftp.gwdg.de/pub/linux/sources.redhat.com"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hash for current toolchain dependencies
        id: get-hash
        run: echo "hash=$(make hash-toolchain)" >> $GITHUB_OUTPUT

      - name: Check toolchain dependencies cache
        uses: actions/cache@v4
        id: cache
        with:
          path: toolchain/*.tar.*
          key: ${{ steps.get-hash.outputs.hash }}

      - name: Download toolchain dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: make download-toolchain

      - name: Cache toolchain dependencies
        uses: actions/cache/save@v4
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: toolchain/*.tar.*
          key: ${{ steps.get-hash.outputs.hash }}

  linux:
    name: Linux build
    runs-on: ubuntu-latest
    needs: [cache]
    env:
      PREFIX: "/usr"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hash for current toolchain dependencies
        id: get-hash
        run: echo "hash=$(make hash-toolchain)" >> $GITHUB_OUTPUT

      - name: Use toolchain dependencies cache
        uses: actions/cache@v4
        id: cache
        with:
          path: toolchain/*.tar.*
          key: ${{ steps.get-hash.outputs.hash }}

      - name: Dependencies
        run: >
          sudo apt-get install pkg-config gcc g++ flex bison gawk
          gettext bzip2 lzma xz-utils libboost-dev libexpat1-dev
          libgc-dev libgmp-dev zlib1g-dev libipt-dev libmpc-dev
          libmpfr-dev libncurses5-dev libreadline-dev texinfo

      - name: Build
        run: ./.github/scripts/build.sh

  win:
    name: "Windows MSYS2 build"
    runs-on: windows-latest
    needs: [cache]
    env:
      PREFIX: "/ucrt64/local"
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          update: true
          install:
            git autoconf automake flex bison gawk make patch sed tar texinfo
            mingw-w64-ucrt-x86_64-boost
            mingw-w64-ucrt-x86_64-bzip2
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-libtool
            mingw-w64-ucrt-x86_64-pkgconf
            mingw-w64-ucrt-x86_64-readline
            mingw-w64-ucrt-x86_64-xz
            mingw-w64-ucrt-x86_64-expat
            mingw-w64-ucrt-x86_64-gettext
            mingw-w64-ucrt-x86_64-gmp
            mingw-w64-ucrt-x86_64-mpc
            mingw-w64-ucrt-x86_64-mpfr
            mingw-w64-ucrt-x86_64-ncurses
            mingw-w64-ucrt-x86_64-gmp
            mingw-w64-ucrt-x86_64-zlib

      - name: Hash for current toolchain dependencies
        id: get-hash
        run: echo "hash=$(make hash-toolchain)" >> $GITHUB_OUTPUT

      - name: Use toolchain dependencies cache
        uses: actions/cache@v4
        id: cache
        with:
          enableCrossOsArchive: true
          path: toolchain/*.tar.*
          key: ${{ steps.get-hash.outputs.hash }}

      - name: Build
        run: ./.github/scripts/build.sh

  macos:
    name: macOS build
    runs-on: macos-latest
    needs: [cache]
    env:
      PREFIX: "/usr/local/ngdevkit"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Hash for current toolchain dependencies
        id: get-hash
        run: echo "hash=$(make hash-toolchain)" >> $GITHUB_OUTPUT

      - name: Use toolchain dependencies cache
        uses: actions/cache@v4
        id: cache
        with:
          path: toolchain/*.tar.*
          key: ${{ steps.get-hash.outputs.hash }}

      - name: Dependencies
        run: >
          brew install -q autoconf automake bison boost bzip2 coreutils gawk
          libtool make pkg-config readline texinfo expat flex gettext
          gmp gnu-sed libmpc mpfr ncurses xz zlib zstd

      - name: Build
        run: ./.github/scripts/build.sh
